<div class="container">
<h2>Stupid Coaching</h2>
<div class="question">
<p><%= @question %><br>- You</p>
</div>
<div class="reponse">
<p><%= @reponse %></p>
</div>

<%= link_to "Ask a new question", ask_path %>
</div>
